#container {
    background-color: #4B878BFF;
    padding: 10px;
    max-width: 1920px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 40%;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
}

.headright {
    float: right;
    flex-direction: column;
}

.contact {
    justify-content: center;
}

.contact h3 {
    margin-top: 0%;
    text-align: right;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c0c0c0;
    width: 500px;
    margin-bottom: 15px ;
}

.menu a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
    background-color: #ddd;
    color: #29c5f6;
}

.slide-container {
    width: 1000px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

.image-container {
    width: 3000px;
    height: 550px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
    max-width: 1000px;
    max-height: 550px;
}

.button-container {
    top: -20px;
    position: relative;
}

.slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

#slider-image-1:target~.image-container {
    left: 0px;
}

#slider-image-2:target~.image-container {
    left: -1000px;
}

#slider-image-3:target~.image-container {
    left: -2000px;
}

.title {
    position: absolute;
    bottom: 0;
    right: 10%;
    font-size: 80px;
    color: azure;
}


.row {
    display: flex;
    margin-top: 20px;
    height: 400px;
    background-color: #c0c0c0;
}

.content {
    width: 60%;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: solid;
    background-color: antiquewhite;
}

.sidebar {
    width: 40%;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: solid;
    background-color:antiquewhite;
}

.footer {
    display: flex;
    margin-top: 20px;
    height: 200px;
    justify-content: center;
    background-color: #f1f1f1;
}

.botnav {
    display: flex;
    border: solid;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 5px;
}

/* Mobile */
@media screen and (max-width: 600px) {
    .menu {
        justify-content: center;
        background-color: #c0c0c0;
        width: auto;
    }

    .slide-container {
        width: 550px;
        height: 300px;
    }

    .image-container {
        width: 1650px;
        height: 300px;
    }

    .slider-image {
        max-width: 550px;
        max-height: 300px;
    }

    #slider-image-1:target~.image-container {
        left: 0px;
    }

    #slider-image-2:target~.image-container {
        left: -550px;
    }

    #slider-image-3:target~.image-container {
        left: -1095px;
    }

    .row {
        flex-direction: column;
        height: auto;
    }

    .content {
        width: auto;
    }

    .sidebar {
        width: auto;
    }

    .footer {
        height: auto;
    }
}